<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>MemeX</title>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <!-- font awesome, for icons-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/resources/css/main.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body class="bg-secondary text-white">

<div th:insert="~{fragments/header :: header}"></div>

<div class="container-lg main-container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h2 class="d-flex justify-content-center">MemeX - best memes around your mom's orbit</h2>
            <div class="d-flex flex-column justify-content-center">
                <div class="meme bg-dark p-3 my-4" th:each="meme:${memes}" th:attr="data-id=${meme.id}">
                    <div class="d-flex justify-content-between">
                        <h4 th:text="${meme.getTitle()}"></h4>
                        <div class="lead">
                            <span class="fa fa-spinner fa-pulse fa-fw"></span>
                            <p style="display: none"></p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img th:src="@{/image/{img}(img=${meme.getFileName()})}" class="img-fluid">
                    </div>
                    <div class="d-flex justify-content-end" sec:authorize="isAuthenticated()">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success">
                                <span class="fa fa-plus"></span>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <span class="fa fa-minus"></span>
                            </button>
                        </div>
                        <span class="fa fa-spinner fa-pulse fa-fw" style="display: none"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>

<script type="module">
    import initVote from '/resources/js/vote-system.js'
    $(() => initVote());
</script>

</body>
</html>