<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>MemeX header</title>
</head>
<body>

<nav id="memexHeader" class="navbar navbar-expand fixed-top navbar-dark bg-dark" th:fragment="header">
    <a th:href="@{/}" class="navbar-brand"><h2>MemeX</h2></a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a id="addMemeLink" class="nav-link" th:href="@{/add}">Add meme</a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item" sec:authorize="isAnonymous()">
            <a id="loginLink" class="nav-link" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
            <a id="registerLink" class="nav-link" th:href="@{/register}">Register</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button id="logoutLink" type="submit" class="btn btn-info">Logout</button>
            </form>
        </li>
    </ul>
</nav>

</body>